SUBQL_ACCESS_TOKEN= # enter your subquery access token
BLOCK_NUMBER=17071458
CHAIN_ID=114
RPC_URL=https://coston2-api.flare.network/ext/C/rpc
FLIGHT_TICKET_CONTRACT_ADDRESS=0x9966bDE945325adc938f15B6C2A8A81232B5E561